body, div, ul, li, dl, dd, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, p, select, table, th, td, tr, textarea, button, form, figure, figcaption {
    margin: 0; padding: 0;
}

a {
    color: #222222;
    text-decoration: none;
}

a:hover {
    color: #2698cb;
}

body, input, textarea, select, button, table {
    font-family: '나눔바른고딕', 'Malgun Gothic', '맑은 고딕', 'dotum', '돋움', sans-serif;
    color: #222222;
    font-size: 13px;
    line-height: 1.5;
}